/* form css*/
.formbox {
    width: 460px;
    box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.75);
    border-color: #6EEB83;
    border-style:none !important; ;
}
.textcolor {
    color:'#000000';
}

#clearall {
    cursor: pointer;
}
#clearall:hover {
    color: black;
    transform: scale(1.5);
}